.sly-comp-left-shadow {
    flex: 1;
    // background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
}
// .sly-comp-right-shadow {
//     flex: 1;
//     background-color: aliceblue;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     padding: 4px;
// }
.sly-bulletin-board-wrapper {
    // background-color: aqua;
    // max-width: 97.2307692rem;
    // max-width: 79.77909267692309rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    // flex-direction: column;
    // margin-right: 16px;
    // padding-right: 16px;
    justify-content: space-between;
}
.sly-bulletin-board-container {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}