.sly-banner-wrapper {
    max-width: 97.2307692rem;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding-right: 16px;

}
.sly-banner-container {
    position: fixed;
    // background-color: #3b4045;
    background-color: #242729;
    // color: white;
    color: #6a737c;
    z-index: 4050;
    left: 0;
    bottom: 0;
    right: 0;
    // padding: 8px;
    span {
        font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
        font-size: 0.75rem;
    }
    display: flex;
    flex-direction: row;
    // width: 100vw;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    padding: 12px 0;
}
.sly-notice-close {
    position: relative;
    display: inline-block;
    padding: 0 4px;
    margin-left: 12px;
    // border: 1px solid rgb(187, 155, 209);
    // border: 1px solid ivory;
    border-radius: 3px;
    // background-color:transparent;
    // background-color: rgba(132,141,149,0.25);
    background-color: ivory;
    // color: ivory;
    // color: #6a737c;
    color: teal;
    outline: none;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    vertical-align: baseline;
}