// Declare a few sample variables
$color1: #ff0000; // Red
$color2: #ffbf00; // Orange
$color3: #ffff00; // Yellow
$color4: #7fff00; // Green
$color5: #007fff; // Light Blue
$color6: #00ffff; // Cyan
$color7: #0000ff; // Blue
$color8: #7f00ff; // Purple
$color9: #ff00ff; // magenta
$color10: #000; // Black
$color11: #fff; // White
